doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

<a href="/co2">Back to Bayou-CO2</a>

<hr>

h2 About Bayou-CO2

h4 Motivation

p.blurb We created Bayou-CO2 when inspired by recent work (e.g., by <a href="https://www.medrxiv.org/content/10.1101/2020.09.09.20191676v1.full.pdf">Peng and Jimenez, Sep 9 2020</a>) indicating that monitoring indoor CO2 levels might help to assess the risk of airborne SARS-CoV-2 transmission, in some contexts.

h4 Philosophy

p.blurb Many 'internet of things' infrastructure is based on business models that incentivize the data hosting service to 'rent' your data back to you, or mine your data for other purposes.  

p.blurb The motivation behind Bayou is to provide a sensor data archiving tool that allows individuals and communities to have more control over their sensor infrastructure.  

p.blurb There is always a risk when using any hosting service;  it means that someone else is in control of your data. A promising approach for mitigating this risk is to use fully peer-to-peer data protocls (e.g. hyper) for data archiving and sharing. 

p.blurb We are experimenting with such protocols; meanwhile, our current strategy is to: (1) make the data as easy to access as possible, and (2) make the data server infrastructure itself as easy to reproduce as possible, in case folks would prefer to host their own data.

h4 Bayou Source Code

p.blurb Bayou is a simple NodeJS + Express application, running a PostgreSQL database.

p.blurb If you'd like to replicate the Bayou server on your own computer or hosting service, the source code is <a href="https://github.com/edgecollective/bayou-co2">here</a>. 

h4 Funding

p.blurb We're funding development and maintenance through donations and pay-as-you-can arrangements.  To contribute, check out Edge Collective's page on Open Collective, <a href="https://opencollective.com/edgecollective">here</a>



