doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

h1 <a href="/co2">Bayou-CO2</a>

body

h3 Simple, Free & Open Source CO2 Monitoring Data & Hardware

h2 How it works

p.blurb <b>Bayou-CO2</b> (source eeeeeecode available <a href="https://github.com/edgecollective/bayou-co2">here</a>) is a simple server + database that allows users to create and store sensor data in a database as 'data feeds'.  Each data feed is associated with two unique, hard-to-guess 'keys' that allow you to access the feed's data (via a browser or script, as CSV or JSON) or add data to the via (via HTTP POST, using a wifi-enabled microcontroller and a CO2 sensor).

p.blurb When you create a new Bayou data feed, you'll be shown the feed's unique keys -- i.e. its PUBLIC_KEY and its PRIVATE KEY (they're just two long, random text strings.) You can then use the feed's PUBLIC_KEY to access the feed's data; you'll need both the PUBLIC_KEY and the PRIVATE_KEY to add data to the feed.

h2 Try it out!

form(action='/co2/manage' method='POST')
    fieldset
        h3 Create a New CO2 Data Feed
        label New Data Feed Name: 
        input#feed_name(type='text' name='feed_name' placeholder='Living room, Nortwest side' required='')
        br
        br
        button(type='submit') Create new feed
form(action='/co2/formData' method='POST')
    fieldset
        h3 View an Existing CO2 Data Feed
        label Show Data Feed w/ Public Key: 
        input#feed_id_page(type='text' name='feed_id' placeholder='421f1baf5ceccaaa9ad0891f4c96710062106b92189bf907' required='')
        br
        br
        // <button type ="reset">Reset</button>
        button(type='submit') View Data

h2 Build or purchase a Bayou-compatible wireless CO2 monitoring kit

p.blurb We have developed an <a href="https://edgecollective.io/posts/notes/co2/">Open Hardware CO2 monitoring kit</a>, based on the popular WiFi+Bluetooth <a href="https://en.wikipedia.org/wiki/ESP32">Espressif ESP32 microcontroller</a> and the <a href="https://www.sensirion.com/en/environmental-sensors/carbon-dioxide-sensors/carbon-dioxide-sensors-co2/">Sensiron SCD30 CO2 sensor</a>.  Our design also allows for long-range, low-power radio transmission via <a href="https://en.wikipedia.org/wiki/LoRa">LoRa radio</a>; adds atmospheric pressure compensation; enables often-overlooked CO2 calibration procedures; has an optional microphone to detect local activity levels; and has been designed to fit into an inexpensive, plastic case in accordance with sensor manufacturer guidelines.  When pre-programmed, the device can be configured to send data to Bayou-CO2 via wifi without programming, using a web browser on a phone or PC.

p.blurb The design files, code, and instructions for building are all available; we are also able to distribute pre-assembled kits that are pre-programmed to send CO2 data to Bayou</b>. 

p.blurb Click below to purchase a pre-assembled, pre-programmed kit, or to learn how to source the parts for your own DIY build:

p.kit <a href="https://edgecollective.io/posts/notes/co2/"><img src="https://edgecollective.io/img/co2/rev_e_collection.png"></a>

p.kit <a href="https://edgecollective.io/posts/notes/co2/">Build or Purchase a PVOS CO2 Sensor</a>

<hr>

h2 About

p.blurb <a href="/">Bayou-CO2</a> is designed to provide a simple, non-proprietary, 'open science' approach to capturing, storing, and retrieving CO2 sensor data. We created Bayou-CO2 when inspired by recent work (e.g. by Jimenez et al.) indicating that monitoring indoor CO2 levels might (in some contexts) help to assess the risk of airborne SARS-CoV-2 transmission.

p.blurb <b>Open Data</b>. All data from Bayou can be downloaded via CSV or JSON, and is accessible via a simple link.  

p.blurb <b>Free and Open Source Codebase</b>. Bayou's source code is freely availble <a href="https://github.com/edgecollective/bayou-co2">here</a>. You can use the Bayou codebase to run a data server on your own hosting service (a home PC, or in the cloud).  You are welcome to fork the codebase, modify it, and improve it -- please do!

p.blurb <b>Funded through donations</b>. We rely on donations and pay-as-you-can arrangements to support data hosting, as well as hardware and software development. To help keep this site running, please visit our site on Open Collective <a href="https://opencollective.com/edgecollective">here</a>. Cheers!

<hr>

<a href="/">Back to data.pvos.org</a>
