doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

body

//<img src="/images/bayou_favicon.png">

h1 <a href="/co2">Bayou-CO2</a><br>

p.blurblarger <b><a href="/about">Bayou-CO2</a></b> provides a simple, open science tool for storage and retrieval of CO2 sensor data.

li.boxsmaller - Easy to set up
li.boxsmaller - Send data from any device via HTTP POST
li.boxsmaller - Access data as graphs, CSV, or JSON
li.boxsmaller - <a href="">Source code available</a> (GPL 3.0)
li.boxsmaller - Funded on a pay-as-you-can basis via <a href="">Open Collective</a> -- Cheers!

p
p

h2 <a name="step1"></a> 1. Create a new CO2 data feed on Bayou-CO2

p.blurb Enter a name for your new feed, and you'll be provided with your new feed's <b>PUBLIC KEY</b> and <b>PRIVATE KEY</b>. Copy them down somewhere safe! (Read more about this <a href=""e>here</a>.)
form(action='/co2/manage' method='POST')
    fieldset
        h3 Create a New CO2 Data Feed
        label New Feed Name: 
        input#feed_name(type='text' name='feed_name' placeholder='Living room, Northwest side' required='')
        br
        br
        button(type='submit') Create new feed

<hr>  

h2 <a name="step2"></a> 2. Send CO2 data to your new feed

p.subheading <b>... via the browser (quick test):</b>

p.blurb You can send test CO2 data to your new feed by entering your feed's <b>PUBLIC KEY</b> and <b>PRIVATE KEY</b>:

form(action='/co2/manage' method='POST')
    fieldset
        h3 Send Test Data To Your CO2 Data Feed
        label Feed Public Key: 
        input#feed_name(type='text' name='feed_name' placeholder='Your Feed\'s PUBLIC KEY' required='')
        br
        br
        label Feed Private Key: 
        input#feed_name(type='text' name='feed_name' placeholder='Your Feed\'s PRIVATE KEY' required='')
        br
        br
        label Test CO2 Data: 
        input#feed_name(type='text' name='feed_name' placeholder='410' required='')
        br
        br
        button(type='submit') Send test data

p.subheading <b>... via your favorite hardware:</b>

p.blurb  A wide variety of microcontrollers, CO2 sensors, and programming frameworks can be used to send data to Bayou-CO2. 

p.blurb You can read (or contribute to!) guidelines for doing this <a href="">here</a>. 

p.kit <img src="/images/compatibility.png">

p.subheading <b>... or via our hardware:</b>

p.blurb We have developed an <a href="https://edgecollective.io/posts/notes/co2/">Open Hardware CO2 monitoring kit</a>, based on the popular WiFi+Bluetooth <a href="https://en.wikipedia.org/wiki/ESP32">Espressif ESP32 microcontroller</a> and the <a href="https://www.sensirion.com/en/environmental-sensors/carbon-dioxide-sensors/carbon-dioxide-sensors-co2/">Sensiron SCD30 CO2 sensor</a>.  You can either purchase the parts on your own and follow the build instructions we've put together, or buy a pre-assembled and pre-programmed device from us.  Click below to learn how to source the parts for your own DIY build, or to purchase a pre-assembled, pre-programmed kit.

p.kit <a href="https://edgecollective.io/posts/notes/co2/">Build or Purchase a PVOS CO2 Sensor</a>

p.kit <a href="https://edgecollective.io/posts/notes/co2/"><img src="https://edgecollective.io/img/co2/rev_e_collection.png"></a>

<hr>  

h2 <a name="step3"></a>3. View your CO2 data

p.blurb You can retrieve CO2 data (as graphs, JSON, and CSV) using your feed's <b>PUBLIC KEY</b>.  They'll always be available (and free for you to share) at the following links:

pre
    code
        p <b>Feed Home:</b> http://data.pvos.org/co2/data/[PUBLIC KEY] <br>
        p <b>Feed as JSON:</b> http://data.pvos.org/co2/data/[PUBLIC KEY]/json <br>
        p <b>Feed as CSV:</b> http://data.pvos.org/co2/data/[PUBLIC KEY]/csv <br>
        //p <b>Feed graphs:</b> http://data.pvos.org/co2/data/[PUBLIC KEY]/graphs <br>

p.blurb Or you can enter your <b>PUBLIC KEY</b> in the form below to go to its home page:


form(action='/co2/formData' method='POST')
    fieldset
        h3 View an Existing CO2 Data Feed
        label Feed Public Key: 
        input#feed_id_page(type='text' name='feed_id' placeholder='Your Feed\'s Public Key' required='')
        br
        br
        // <button type ="reset">Reset</button>
        button(type='submit') View Data








<hr>

<a href="/">Back to data.pvos.org</a>
