doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

h1 <a href="/co2">Bayou-CO2</a>

body

h2 Simple, Free & Open Source CO2 Monitoring

p.blurb <b>Motivation.</b> <a href="/co2">Bayou-CO2</a> is designed to provide a simple, non-proprietary, 'open science' approach to capturing, storing, and retrieving CO2 sensor data. We created Bayou-CO2 when inspired by recent work (e.g. by <a href="https://www.medrxiv.org/content/10.1101/2020.09.09.20191676v1.full.pdf">Peng and Jimenez, Sep 9 2020</a>) indicating that monitoring indoor CO2 levels might (in some contexts) help to assess the risk of airborne SARS-CoV-2 transmission.  

p.blurb <b>Getting CO2 data online:</b> You can get CO2 data online using Bayou-CO2 thusly:
ul
li <a href="#step1">Step 1: Set up a free CO2 data feed</a>
li <a href="#step2">Step 2: Set up a compatible CO2 monitor</a>
li <a href="#step3">Step 3: View or download your CO2 data</a>

<hr>

h2 <a name="step1"></a> Step 1: Set up a new CO2 data feed

form(action='/co2/manage' method='POST')
    fieldset
        h3 Create a New CO2 Data Feed
        label New Feed Name: 
        input#feed_name(type='text' name='feed_name' placeholder='Living room, Nortwest side' required='')
        br
        br
        button(type='submit') Create new feed

<hr>  

h2 <a name="step2"></a> Step 2: Set up a compatible CO2 monitor

p.blurb <b>General guidelines.</b> You can send data to Bayou via <b>any device</b> that is capable of performing an HTTP POST. This includes Python scripts on PCs, as well as many available programmable microcontrollers. You can find general guidelines for how to construct the proper HTTP POST format, with some code examples, <a href="">here</a>.

p.blurb <b>PVOS CO2 Monitor. </b>To make things easier for folks, we have developed an <a href="https://edgecollective.io/posts/notes/co2/">Open Hardware CO2 monitoring kit</a>, based on the popular WiFi+Bluetooth <a href="https://en.wikipedia.org/wiki/ESP32">Espressif ESP32 microcontroller</a> and the <a href="https://www.sensirion.com/en/environmental-sensors/carbon-dioxide-sensors/carbon-dioxide-sensors-co2/">Sensiron SCD30 CO2 sensor</a>.  You can either purchase the parts on your own and follow the build instructions we've put together, or buy a pre-assembled and pre-programmed device from us.  Click below to learn how to source the parts for your own DIY build, or to purchase a pre-assembled, pre-programmed kit:

p.kit <a href="https://edgecollective.io/posts/notes/co2/"><img src="https://edgecollective.io/img/co2/rev_e_collection.png"></a>

p.kit <a href="https://edgecollective.io/posts/notes/co2/">Build or Purchase a PVOS CO2 Sensor</a>

<hr>  

h2 <a name="step3"></a>Step 3: View your CO2 data

form(action='/co2/formData' method='POST')
    fieldset
        h3 View an Existing CO2 Data Feed
        label View Data for Feed w/ Key: 
        input#feed_id_page(type='text' name='feed_id' placeholder='421f1baf5ceccaaa9ad0891f4c96710062106b92189bf907' required='')
        br
        br
        // <button type ="reset">Reset</button>
        button(type='submit') View Data








<hr>

<a href="/">Back to data.pvos.org</a>
