doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

h1 Open Science Data Services & Experiments at <a href="http://pvos.org">PVOS</a>

h2 <a href="/co2/">Bayou-CO2: Free and Open Source CO2 Monitoring</a>

p.blurb We were inspired to create Bayou-CO2 by recent work (e.g. by Jimenez et al.) indicating that monitoring indoor CO2 levels might (in some contexts) help to assess the risk of airborne SARS-CoV-2 transmission. Try it out <a href="/co2>">here</a>.

