doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

//h1 data.pvos.org

p.banner Measurement recorded!
p.banner  <b>Feed Public Key</b>: #{feed_pubkey}
p.banner  <b>CO2 Value</b>: #{co2_value} 

<hr>

p Back to <a href="/co2">Bayou-CO2 Home Page</a>
